/* GLOBAL STYLES-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  padding-bottom:40px;
  color:rgb(151,151,151);
  font-family:courier, monospace, serif;
}
section {
  position:relative;
  padding-top:90px;
  padding-bottom:90px;
}
h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
  color: rgb(191,191,191);
  font-size: 20px;
  border-bottom: 1px solid rgb(191,191,191);
  display: inline-block;
  font-family:courier new, monospace;
  font-size:20px;
  text-transform:uppercase;
}
.collins-collective-logo{
  width:60%;
}

.center {
  text-align: center;
}

hr.cchr{
  border: 0;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #eee;
  margin: 0 auto;
  width: 80%;
}

#about .icon img{
  max-height:288px;
}

/* Temp About */

#about .section-box article {
background: white;
margin-top: 20px;
padding: 10px;
height: 205px;
}

.section-box .col-md-4 {
background-image: url(../img/dotted-border.png);
padding: 35px;
}




/* CUSTOMIZE THE NAVBAR-------------------------------------------------- */
/* Special class on .container surrounding .navbar,used for positioning it into place. */
.navbar-wrapper {
  position:relative;
  z-index: 10;
}
/* CUSTOMIZE THE CAROUSEL-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-bottom:60px;
  /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  margin-top:-90px;
}
/* Since positioning the image,we need to help out the caption */
.carousel-caption {
  z-index: 10;
}
/* Declare heights because of positioning of img element */
.carousel .item {
  height:500px;
}
.carousel img {
  position:absolute;
  top:0;
  left:0;
  min-width:100%;
  height: 500px;
}
/* MARKETING CONTENT-------------------------------------------------- */
/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left:15px;
  padding-right: 15px;
}
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align:center;
  margin-bottom:20px;
}
.marketing h2 {
  font-weight:normal;
}
.marketing .col-lg-4 p {
  margin-left:10px;
  margin-right: 10px;
}
/* Featurettes------------------------- */
.featurette-divider {
  margin: 80px 0;
  /* Space out the Bootstrap <hr>more */
}
.featurette {
  padding-top:120px;
  /* Vertically center images part 1:add padding above and below text. */
  overflow:hidden;
  /* Vertically center images part 2:clear their floats. */
}
.featurette-image {
  margin-top:-120px;
  /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}
/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right:40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}
/* Thin out the marketing headings */
.featurette-heading {
  font-size:50px;
  font-weight:300;
  line-height:1;
  letter-spacing: -1px;
}
/* RESPONSIVE CSS-------------------------------------------------- */
@media (min-width:768px) {
  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left:0;
    padding-right: 0;
  }
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top,so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom:20px;
    font-size:21px;
    line-height:1.4;
  }
}
#hero {
  text-align:center;
  background:url(../img/cospace.jpg);
  background-size:cover;
}
#hero h1 {
  font-size:70px;
  font-weight:100;
  border-bottom:none;
}
.heroBox {
  padding: 2em;
  background: rgba(0,0,0,.7);
  text-align: center;
  color: rgb(193,193,193);
  text-shadow: 0 1px 2px rgba(0,0,0,0.6);
  margin-top:240px;
  margin-bottom: 65px;
}
.heroBox h1,.heroBox h2,.heroBox h3 {
  color: rgb(191,191,191);
  font-size: 20px;
  border-bottom: 1px solid rgb(191,191,191);
  display: inline-block;
  font-family:courier new, monospace;
  font-size:20px;
}

.heroBox p{
  font-size:16px;
}
#pricing {
  background-color:#524982;
}
footer {
  text-align:center;
  margin-top:2em;
}
.cc-navbar {
  text-shadow:0 -1px 0 rgba(0,0,0,.15);
  background-color:#000;
  border-color:#000;
  box-shadow:0 1px 0 rgba(255,255,255,.1);
}
.cc-navbar .navbar-nav>li>a {
  color:rgb(151,151,151);
  text-transform:uppercase;
  font-size:16px;
}
.cc-navbar .navbar-nav>li.active>a, .cc-navbar .navbar-nav > li > a:hover, .navbar-nav > li > a:hover {
  color:rgb(240,240,240);
  background-color:#000;
}
.section-box {
  text-align:center;
}
.pricing-table {
  margin-top:6rem;
}
.plans {
  margin-bottom: 6rem;
}
/* Pricing Table */
.plan-header {
  background-color:#5294c9;
  color:#fff;
  font-size:24px;
  padding:10px 10px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
.plan-header .price {
  float:right;
}
.plan-header .price .duration {
  opacity:0.7;
  font-size:16px;
}
.plan-meetings {
  background-color:#e3edf5;
  color:#1b3752;
  border-left:solid 1px #b4cde6;
  border-right:solid 1px #b4cde6;
  padding:8px 10px;
  font-size:18px;
}
.plan-description {
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border:solid 1px #ddd;
  border-top:0;
  padding:10px;
  color:#333;
  background-color:#fff;
}
.plan-points {
  list-style:none;
  font-size:14px;
  padding:0;
  margin-top:0;
  margin-bottom:0;
}
.plan-points li+li {
  margin-top:5px;
}
#pricing .lead {
  color:#CCCED5;
  margin:25px auto;
}
.client-intro {
  margin-bottom:2em;
}
#pricing .client-intro h1,#pricing .client-intro h2,#pricing .client-intro p {
  color:#ffffff;
}

/* FAQS */
.accordion {
  -webkit-transition: All .7s ease;
  -moz-transition: All .7s ease;
  -o-transition: All .7s ease;
  transition: All .7s ease;
}
.accordion-group {
  background-color: #fff;
  margin: 3px 0;
  border-color: #ebeff6;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}
.accordion-heading {
  padding: 15px;
}
.accordion-inner {
  border-top: 1px solid #ebeff6;
  padding: 10px 15px 20px;
}
.accordion-heading a {
  font-size: 18px;
  color: #34495e;
  font-family: 'Source Sans Pro', sans-serif;
}
.accordion-toggle {
  color: #29323d;
  text-decoration: none;
  opacity:.5;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

#faq .accordion-toggle:hover {
  text-decoration: none;
  opacity:1;
}


.map-box{
  width: 100%;
  height: 650px;
  position: relative;
}

.map-overlay{
  position: absolute;
  top: 150px;
  background-color: rgba(82,73,130,.9);
  padding: 2em;
  color:#fefefe;
}

.map-overlay h1{
  color:#fefefe;
}

.news-box {
  background-color:#F8FAFD;
  border-top:1px solid #ebeff6;
  border-bottom:1px solid #ebeff6;
}

#accordion2{
  background-color: #ffffff;
}

.entry-content h1 {
  font-weight: 700;
  font-size: 55px;
}


.spaceImg{
  background: url(../img/space-image.jpg);
  min-height:434px;
  background-size:100%;
}

@media screen and (min-width:768px) {
  #mainNav .navbar-nav>li {
    float:none;
    display:inline-block;
  }
  #mainNav .navbar-nav {
    float: none;
  }
}